<p id="notice"><%= notice %></p>

<p>
  <b>Employer reference:</b>
  <%= @employee.employer_reference %>
</p>

<p>
  <b>Organization:</b>
  <%= @employee.organization %>
</p>

<p>
  <b>Person:</b>
  <%= @employee.person %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
